@import url('https://fonts.googleapis.com/css2? family= Bitter:wght@900 & family= 개구:wght@700 & family= Lato & family= Merriweather:wght@900 & family= 나눔+명조 & 가족 = 우분투 & display=swap');
* {
    box-sizing: border-box;
    font-family: 'Ubuntu', 산세리프;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
  #apple{
    width:50px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.2);
  }
  #iphone{
    width:290px;
    height: 580px;
    border-radius: 48px;
    box-shadow: 0px 50px 70px 0px rgba(0,0,0,0.3);
  }
  .container {
    width: 250px;
    height: 500px;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -540px;
  }
  .display{
    position: relative;
    color:white;
    width:100%;
    height:35%;
    text-align: end;
  }
  .result{
    position: absolute;
    bottom: 10px;
    right: 23px;
    font-size: 58px;
    font-weight: lighter;
  }
  .calculator{
    width:100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
button{
    width:52px;
    height:52px;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 25px;
}
.zero{
    width:110px;
    border-radius: 25px;
    text-align: start;
    padding-left: 17px;
}
.etc{
    background-color: rgba(255,255,255,0.7);
    font-size: 20px;
    font-weight: 900;
}
.number{
    background-color: rgba(255,255,255,0.25);
    color:white;
}
.operator{
    background-color: orange;
    color: white;
    font-weight: 900;
    padding-bottom: 5px;
    margin-bottom: -5px;
}
button:hover{
  cursor: pointer;
}
button.number:active{
    animation: numberColorChange 10s linear forwards;
}
@keyframes numberColorChange{
  from{background-color: rgba(255,255,255,0.15);}
}
button.operator:active{
  animation: operatorColorChange 10s linear forwards;
}
@keyframes operatorColorChange{
  from{background-color: rgba(255,165,0,0.8);}
}
button.etc:active{
  animation: etcColorChange 10s linear forwards;
}
@keyframes etcColorChange{
  from{background-color: rgba(255,255,255,0.5);}
}